{% extends "base.html" %}

{% load startswith %}

{% block title %}Assignment Item {{ assignment_item.item_name}}{% endblock %}
{% block tabname %}assignments{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'instructor:assignmentlist' %}">Assignments</a></li>
    <li class="breadcrumb-item"><a href="{% url 'instructor:assignment' %}/{{ assignment_item.assignment.id}}">{{ assignment_item.assignment.assignment_name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Item {{ assignment_item.item_name}}</li>
{% endblock %}

{% block content %}

<!-- show general assignment info -->
<div class="row">
    <div class="col-md-6">
        <h2><i class="fas fa-list-ol"></i> {{ assignment_item.assignment.assignment_name}} Item: {{ assignment_item.item_name}}</h2>
        {% if assignment_item.item_type == 'QUERY' and assignment_item.item_solution %}
            Correct query: <a href="{{ MEDIA_URL }}{{ assignment_item.item_solution }}">{{ assignment_item.item_solution }}</a>
        {% endif %}
    </div>
<!-- form for editing assignment info -->
    <div class="col-md-6 pb-3">
        <div class="card"><div class="card-body">
        <h5 class="card-title">Edit assignment item</h5>
        <form action="{% url 'instructor:assignmentitemedit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="assignment_item_id" value="{{ assignment_item.id }}">
                <div class="row">
                    <div class="col mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="item_name" name="item_name"
                                value="{{ assignment_item.item_name }}">
                            <label for="item_name">Item Name</label>
                        </div>
                    </div>
                    <div class="mb-3" {% if assignment_item.item_type != 'QUERY' %}style="display:none;"{% endif %}>
                        <label for="item_code">Correct Query:</label>
                        <input type="file" id="item_code" name="item_code" accept="*" >
                    </div>
                    <div class="mb-3 float-end">
                        <button type="submit" class="btn btn-secondary btn-sm float-end" value="Update assignment environment">
                            Update Assignment Item <i class="fas fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div></div>
    </div>
</div>

<!-- list of testing instances -->
<div class="row border-top pt-3">
    <div class="col-md-6">
        <h3><i class="fas fa-server"></i> Environment Instances</h3>
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Add environment for item grading</h5>
        <form action="{% url 'instructor:environmentinstance' %}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="assignment_item_id" value="{{ assignment_item.id }}">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="environment_name" name="environment_name" style="width:250px;" >
                            <label for="environment_name">Environment Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="initial_code">Item-specific environment setup (optional):</label>
                        <input type="file" id="initial_code" name="initial_code" accept=".sql">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success float-end" value="Add item environment">
                            Add Item Environment <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
    </div>
    <div class="col-md-6">
        {% if environment_instance %}
            {% for env_instance in environment_instance %}
            <div class="card mt-2">
                <div class="card-header bg-primary text-white" id="headingEI{{ env_instance.id }}">
                    <i class="fas fa-database"></i>
                    Instance: {{ env_instance.environment_name }}
                </div>

                <div class="card-body">
                    {% if env_instance.initial_code %}
                    <div class="row"><div class="col mb-6 pb-4">
                        Current specific setup script: <a href="{{ MEDIA_URL }}{{ env_instance.initial_code }}">{{ env_instance.initial_code }}</a>
                    </div></div>
                    {% endif %}
                    <form action="{% url 'instructor:environmentinstanceedit' %}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="environment_instance_id" value="{{ env_instance.id }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="environment_name" name="environment_name" style="width:250px;" value="{{ env_instance.environment_name }}">
                                        <label for="environment_name">Environment Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="initial_code">Item-specific environment setup (optional):</label>
                                    <input type="file" id="initial_code" name="initial_code" accept=".sql">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-secondary btn-sm float-end" value="Update environment">
                                        Update Environment <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        {% if env_instance.has_datagen %}
                            <h6>Data Generation: {{ env_instance.datagen_status }}</h6>
                        {% else %}
                        <form action="{% url 'instructor:environmentinstancedatagen' %}" method="post">
                            <input type="hidden" name="environment_instance_id" value="{{ env_instance.id }}">
                            <input type="hidden" name="assignment_item_id" value="{{ assignment_item.id }}">
                            <input type="hidden" name="initial_code" value="{{ env_instance.initial_code }}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col mb-2">
                                        <h6>Auto Data Generation</h6>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="row_count" name="row_count" style="width:120px;" value="100">
                                            <label for="row_count">Row Count</label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        {{ env_instance.datagen_status }}
                                        <button type="submit" class="btn btn-warning btn-sm float-end mt-3" value="Start Data Generation">
                                            Start Data Generation <i class="fas fa-file-code"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% if env_instance.allfiles %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6>Instance Files:</h6>
                    </li>
                    {% for file in env_instance.allfiles %}
                    <li class="list-group-item">
                        {% if file|startswith:'datagen/' %}
                            <i class="fas fa-file-code"></i>
                        {% else %}
                            <i class="fas fa-file-alt"></i>
                        {% endif %}
                         <a href="{{ MEDIA_URL }}{{ file }}">{{ file }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <p>No environment instances for grading this item found.</p>
        {% endif %}

    </div>
</div>




{% endblock %}