{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Grading {{ grading_process.assignment.assignment_name }}{% endblock %}
{% block tabname %}grading{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'instructor:gradingoverview' %}">Grading</a></li>
    <li class="breadcrumb-item"><a href="{% url 'instructor:gradingdetails'  grading_process.id %}">{{ grading_process.assignment.assignment_name }}: {{ grading_process.process_status }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ grading_process.assignment.assignment_name }}: item #{{assignment_item.item_number}} ({{ assignment_item.item_name }})</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2><i class="fas fa-clipboard-check"></i> Grades for {{ grading_process.assignment.assignment_name }}, item #{{assignment_item.item_number}} ({{ assignment_item.item_name }})</h2>
    </div>
</div>

<div class="row pt-3">
    <div class="col-md-12">
        {% render_table grades_table %}
    </div>
</div>


{% endblock %}