{% extends "base.html" %}

{% block title %}SQLGrader{% endblock %}
{% block tabname %}home{% endblock %}

{% block content %}

<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <a href="/instructor/students" style="text-decoration:none; color:inherit;"><div class="feature-icon bg-secondary bg-gradient">
            <i class="fas fa-users"></i>
        </div></a>
        <h2>Students</h2>
        <p>Manage students and view individual student assignment submissions. If you're just getting started, take a look at the <a href="https://robertdroptablestudents.github.io/docs/course-setup">Course Setup Docs</a>.</p>
        <a href="/instructor/students" class="icon-link">
            Go to Students
            <svg class="bi" width="1em" height="1em">
                <i class="bi fas fa-chevron-right"></i>
            </svg>
        </a>
    </div>
    <div class="feature col">
        <a href="/instructor/assignments" style="text-decoration:none; color:inherit;"><div class="feature-icon bg-secondary bg-gradient">
            <i class="fas fa-book"></i>
        </div></a>
        <h2>Assignments</h2>
        <p>Setup assignments with individual questions, overall schemas, and run data generation.  There's documentation on both <a href="https://robertdroptablestudents.github.io/docs/assignments">assignment setup</a> and <a href="https://robertdroptablestudents.github.io/docs/datagen">data generation</a>.</p>
        <a href="/instructor/assignments" class="icon-link">
            Go to Assignments
            <svg class="bi" width="1em" height="1em">
                <i class="bi fas fa-chevron-right"></i>
            </svg>
        </a>
    </div>
    <div class="feature col">
        <a href="/instructor/grading" style="text-decoration:none; color:inherit;"><div class="feature-icon bg-secondary bg-gradient">
            <i class="fas fa-clipboard-check"></i>
        </div></a>
        <h2>Grading</h2>
        <p>Start the grading process for an assignment and export student feedback from completed grading. See more details about the grading process in the <a href="https://robertdroptablestudents.github.io/docs/grading">grading docs</a>.</p>
        <a href="/instructor/grading" class="icon-link">
            Go to Grading
            <svg class="bi" width="1em" height="1em">
                <i class="bi fas fa-chevron-right"></i>
            </svg>
        </a>
    </div>
</div>

{% endblock %}