<!doctype html>
<html lang="en">

{% load static %}
{% load buildinfo %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/custom.css">
    <link rel="stylesheet" href="../../../static/fa/css/all.min.css">
    <link src="../../../static/bootstrap/js/bootstrap.bundle.min.js">
    <link src="../../../static/fa/js/all.min.js">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>SQLGrader: {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-1">
          <a href="/instructor" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <!-- <svg class="bi me-2" width="40" height="32"><i class="bi fas fa-database"></i></svg> -->
            <div class="banner-icon bg-primary bg-gradient">
              <i class="fas fa-database"></i>
            </div>
            <span class="fs-4">SQLGrader</span>
          </a>
        <nav role="navigation">
          <ul class="nav nav-pills" id="navbar">
            <li class="nav-item"><a href="/instructor" class="nav-link" tabname="home">Home</a></li>
            <li class="nav-item"><a href="/instructor/students" class="nav-link" tabname="students">Students</a></li>
            <li class="nav-item"><a href="/instructor/assignments" class="nav-link" tabname="assignments">Assignments</a></li>
            <li class="nav-item"><a href="/instructor/grading" class="nav-link" tabname="grading">Grading</a></li>
          </ul>
          </nav>
        </header>
<div class="container mb-4"
  <nav id="breadcrumb-nav" style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin-bottom:0.5rem;">
          <li class="breadcrumb-item"><a href="{% url 'instructor:index' %}">SQLGrader</a></li>
          {% block breadcrumbs %}{% endblock %}
      </ol>
  </nav>
</div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="pt-5 my-5 text-muted border-top">
    SQLGrader build {% buildid %} &middot; <a href="https://robertdroptablestudents.github.io/" target="_blank">https://robertdroptablestudents.github.io/</a> &middot; Licensed MIT
  </footer>
 </div>

<!-- set the correct tab active -->
<script>
    var activetab = "{% block tabname %}{% endblock %}";
    $(document).ready(function() {
        // hide id breadcrumb-nav on activetab home
        if (activetab == "home") {
            $("#breadcrumb-nav").hide();
        }
        // else {
        //    $("#breadcrumb-nav").show();
        //}
        // for each a in the navbar
        $.each($('#navbar').find('a'), function() {
            if ( $(this).attr('tabname') == activetab ) {
                $(this).addClass('active');
                $(this).attr('aria-current','true');
            }
        }); 
    });
</script>

</body>



</html>